<section class='api' data-type='main'>
  <div class="api-header">首页</div>
  <div class="api-body">
    <table class="table" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td width="10%">操作</td>
          <td width="15%">接口</td>
          <td width="10%">方法</td>
          <td width="20%">参数</td>
          <td width="25%">响应</td>
          <td width="20%">说明</td>
        </tr>
      </thead>
      <tbody>
        <!-- 获取多条文章记录 -->
        <tr>
          <td>获取多条文章记录</td>
          <td>main/articles</td>
          <td>GET</td>
          <td>
            <textarea cols="30" rows="10">
page:页码
count:数量
tag:文章类型

示例：
    http://localhost:3000/artilces?page=3&count=10&tag=散文
    请求说明：获取按每页10条记录划分的文章集合的第三页，文章类型为散文
    单次请求最多允许获取30条记录
             </textarea>
          </td>
          <td>
            <textarea cols="30" rows="10">
[
    {
        "article": {
            "id": 1,
            "name": "新建文章",
            "tag": "test_tag",
            "created_at": "2017-05-05T16:38:33.056Z"
        }
    },
    {
        "article": {
            "id": 2,
            ...
        }
    },
    ...
]
              </textarea>
          </td>
          <td>
            <ul>
              <li>服务器返回json格式的数组</li>
              <li>只能获取被发表的文章，即字段is_shown=true的文章</li>
            </ul>
          </td>
        </tr>
        <!-- 获取一条文章记录 -->
        <tr>
          <td>获取一条文章记录</td>
          <td>main/articles/:id</td>
          <td>GET</td>
          <td>
            <textarea cols="30" rows="10">
无
            </textarea>
          </td>
          <td>
            <textarea cols="30" rows="10">
{
    "article": {
        "id": 1,
        "name": "新建文章",
        "tag": "test_tag",
        "created_at": "2017-05-05T16:38:33.056Z",
        "content": "test_content"
    }
}
              </textarea>
          </td>
          <td>
            <ul>
              <li>通过文章的唯一id获取该文章</li>
              <li>只能获取被发表的文章，即字段is_shown=true的文章</li>
            </ul>
          </td>
        </tr>
        <!-- 获取多条文集记录 -->
        <tr>
          <td>获取多条文集记录</td>
          <td>main/corpus</td>
          <td>GET</td>
          <td>
            <textarea cols="30" rows="10">
page:页码
count:数量
tag:文集类型

示例：
    http://localhost:3000/artilces?page=3&count=10&tag=散文
    请求说明：获取按每页10条记录划分的文集集合的第三页，文集类型为散文
    单次请求最多允许获取30条记录
             </textarea>
          </td>
          <td>
            <textarea cols="30" rows="10">
[
    {
        "corpus": {
            "id": 1,
            "name": "新建文集",
            "tag": "test_tag"
            "created_at": "2017-05-05T16:38:33.056Z"
        }
    },
    {
        "corpus": {
            "id": 2,
            ...
        }
    },
    ...
]
              </textarea>
          </td>
          <td>
            <ul>
              <li>服务器返回json格式的数组</li>
              <li>只能获取被发表的文集，即字段is_shown=true的文集</li>
            </ul>
          </td>
        </tr>
        <!-- 获取一条文集记录 -->
        <tr>
          <td>获取一条文集记录</td>
          <td>main/corpus/:id</td>
          <td>GET</td>
          <td>
            <textarea cols="30" rows="10">
无
            </textarea>
          </td>
          <td>
            <textarea cols="30" rows="10">
{
    "corpus": {
        "id": 1,
        "name": "新建文集",
        "tag": "test_tag",
        "created_at": "2017-05-05T16:38:33.056Z"
    }
}
              </textarea>
          </td>
          <td>
            <ul>
              <li>通过文集的唯一id获取该文集</li>
              <li>只能获取被发表的文集，即字段is_shown=true的文集</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
