<p>Hi, 亲爱的 <%= @user.number %></p>
<p><b>墨坊</b>提醒您：</p>
<p>
  <span>用户<strong><%= @coeditor.number %></strong>在"<%= @file.name %>"中将您添加为协作者。</span>
</p>
<p>
  <span>具体详情请登录网站后查看, 传送门: <%= link_to '墨坊文创平台（点击进入首页）', root_url %></span>
</p>
</br>
