<p>您好,<%= @user.number %></p>
<b>Mireco提醒您：</b>
<p>由于您的账户涉嫌违规操作，违反Mireco使用条款，被处以以下惩罚</p>
<p>处罚类型：<%= @puni.property %></p>
<p>处罚时间：<%= @puni.endtime %></p>
<p>惩罚原因：<%= @puni.reason %></p>
<p style='color: red'>点此查看处罚详情</p>
<p>如有异议，请于三个工作日内申诉</p>
</br>
